@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Jersey+10&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; /* personaliza os marcadores */
    border: none;
}
 
.container {
    display: grid; /*cria uma grade*/
    width: 100%;
    max-width: ; /*cria um limite */

}