*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://i.pinimg.com/1200x/14/ea/e8/14eae8eaff1cf59156de6a601d5c8e79.jpg);
    background-size: cover; 
}
.container {

    font-family: "Press Start 2P", cursive;
     line-height: 1.2;
}

button{
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
     border: 2px solid #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 12px;
    background-color: #111;
    color: #fff;

}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
     max-width: 600px;
     margin: auto;
    }

.card {
    background-color: #333;
    padding: 5px;
    border-radius: 10px;
    border-radius: 10px;
    width: 110px;   /* controla quantas colunas */
}


.card img {
    width: 100px;
    height: 140px;
    border-radius: 8px;
}

